<!DOCTYPE html>
<html>

<head>
    <%include head.ejs%>
        <title>
            <%=tytul%>
        </title>
</head>

<body>
    <%include navbar.ejs%>
        <div class="container body-content">
            <div class="ibox">
                <h4>Witaj <%=uzytkownik%>!</h4>
                <table class="table table-striped">
                    <tr>
                        <th>Nazwa</th>
                        <th>Ilość zdobytych punktów</th>
                        <th>Ocena</th>
                        <th>Akcje</th>
                    </tr>
                    <% for(var i = 0; i < testy.length; i++) { %>
                        <tr>
                            <td>
                                <%=testy[i].nazwa %>
                            </td>
                            <td>
                                <%=testy[i].ilosc_zdobytych_pkt %>
                            </td>                         
                            <td>  
                                <%=testy[i].ocena %>
                            </td>                        
                            <td>
                               
                                <%if(testy[i].id == null) { %>
                                <a href="rozpocznijTest/<%=testy[i].id_testu%>">Rozwiaż</a>
                                <%}%>
                                <%if(testy[i].id != null) {%>
                                 <a href="/zobaczWynikiStudent/<%=testy[i].id%>">Wyniki</a>
                <%}%>
                            </td>
                        </tr>
                        <% } %>
                </table>
                <a href="/zmianaHasla">Zmień hasło</a>
            </div>
        </div>
        <%include scripts.ejs%>
</body>

</html>