<!DOCTYPE html>
<html>

<head>
    <%include head.ejs%>
        <title>Rozwiąż</title>
</head>

<body>
    <%include navbar.ejs%>
        <div class="container body-content">
            <div class="ibox">
                <div class="row">
                    <form class="form form-horizontal" method="POST" action="/zapisz_pkt">
                        <div class="form-group">
                        
                
                            <h3>Ilość punktów za zadanie:
                                <%=odpowiedz.ilosc_pkt%>
                            </h3>
                        </div>

                        <div class="form-group">
                            <h3> Treść pytania:
                                <%=odpowiedz.tresc%>
                            </h3>
                        </div>

                        <div class="form-group">
                                <label class="control-label col-md-3" for="odp">Odpowiedz</label>
                                <textarea type="text" id="odp" rows="5" class="col-md-4" readonly><%=odpowiedz.odpowiedz_otw%></textarea>
                            </div>
                            <div class="form-group">
                                    <label class="control-label col-md-3" for="zdobytePunkty">Zdobyte punkty</label>
                                    <input type="number" name="zdobytePunkty" required/>
                                </div>
                            
                            <input type="hidden" value="<%=odpowiedz.id%>" name="idOdpowiedzi">
                            <input type="hidden" value="<%=id_rozwiazania%>" name="idRozwiazania">
                        <div class="btn-group col-md-offset-4">
                            <input type="submit" class="btn  btn-primary" value="Zapisz" name="Zapisz">

                        </div>

                    </form>

                </div>
            </div>
        </div>
        <%include scripts.ejs%>


</body>

</html>