<!DOCTYPE html>
<html>

<head>
    <%include head.ejs%>
        <title>
            Studenci
        </title>
</head>

<body>
    <%include navbar.ejs%>
        <div class="container body-content">
            <div class="ibox">
                <h4>Lista studentów</h4>
                <table class="table table-striped">
                    <tr>
                        <th>Imię</th>
                        <th>Nazwisko</th>
                        <th>Kierunek</th>
                        <th>Nr Indeksu</th>
                        <th>Akcje</th>
                    </tr>
                    <% for(var i = 0; i < studenci.length; i++) { %>
                        <tr>
                            <td>
                                <%=studenci[i].imie %>
                            </td> 
                            <td>
                                <%=studenci[i].nazwisko %>
                            </td> 
                            <td>
                                <%=studenci[i].kierunek %>
                            </td>
                            <td>
                                <%=studenci[i].numer_indeksu %>
                            </td>
                            <td>
                                <a href="usunStudenta/<%=studenci[i].nazwa%>">Usuń</a>
                            </td>
                        </tr>
                        <% } %>
                </table>
                <div class="row">
                    <form  class="form form-horizontal"  method="POST" action="/importujStudentow"  enctype="multipart/form-data"> 
                        <p>Import listy studentów z pliku. Tylko pliki w formacie CSV bez nagłówka. kolejność kolumn: Imię, Nazwisko, Nazwa użytkownika, Hasło, Nr Indeksu, Kierunek.</p>
                        <input type="file" name="plik"  accept='.csv, .txt'/>
                        <input type="submit" class="btn  btn-primary" value="Importuj z pliku" name="dodaj">
                    </form>
                </div>
            </div>
        </div>
        <%include scripts.ejs%>
</body>

</html>