<!DOCTYPE html>
<html>

<head>
    <%include head.ejs%>
        <title>Rozwiąż</title>
</head>

<body>
    <%include navbar.ejs%>
        <div class="container body-content">
            <div class="ibox">
                <div class="row">
                    <form class="form form-horizontal" method="POST" action="/zapiszOdpowiedz">
                        <div class="form-group">
                            <h3>Ilość punktów za zadanie:
                                <%=pytanie.ilosc_pkt%>
                            </h3>
                        </h3>
                        <h3 id="czas">

                        </h3>
                        </div>

                        <div class="form-group">
                            <h3> Treść pytania:
                                <%=pytanie.tresc%>
                            </h3>

                        </div>
                        <% for(var i=0; i<warianty.length; i++){%>
                                <div class="form-group">
                                    <label class="control-label col-md-3" for="wariant<%=warianty[i].id%>">
                                        <%=warianty[i].tresc%>
                                    </label>
                                   
                                    <input type="radio" value="<%=warianty[i].id%>" 
                                  
                                        id="wariant<%=warianty[i].id%>" name="wybrana_odp" class="col-md-1" />
                                </div>
                                <%}%>

                                <input type="hidden" value="<%=pytanie.id%>" name="idOdpowiedzi">
                                <input type="hidden" value="<%=idRozwiazania%>" name="idRozwiazania">
                        <div class="btn-group col-md-offset-4">
                            <input type="submit" class="btn  btn-primary" value="Zapisz odpowiedź" name="ZapiszOdpowiedz">

                        </div>
                    </form>

                </div>
            </div>
        </div>
        <%include scripts.ejs%>


        <script type="text/javascript">

            var czas_konca_testu =<%=czas_konca_testu%>;

            setInterval(function () {
                var ilosc_min_do_konca = Math.round((czas_konca_testu - Date.now()) / 60000);

                if (ilosc_min_do_konca >= 0) {
                    $("#czas").html("Zostało: " + ilosc_min_do_konca + " min");
                }

            }, 1000)

        </script>

</body>

</html>